
.container {
    background-color: #0f0f0f;
    width: 100%;
    height:calc(100vh - 76px);
    display:flex;
    align-items: center;
    justify-content: center;
}

.HomeContainer {
   display: flex;
   flex-direction: column; 
   align-items: center;
   justify-content: center;
}

.HomeImage {
    max-width: 480px;
    object-fit: contain;
    width:auto;
    height: auto;
}

.title {
    color:#fff;
    text-align: center;
    margin:28px;
    line-height: 150%;
}

.infoContent {
    display:flex;
    align-items: center;
    justify-content: space-around;
}

.box{
    background-color: #fafafa;
    padding: 14px 44px;
    transition: transform 0.3s ease-in-out;
}

.box:hover {
    transform: scale(1.2)
}

@media screen and (max-width: 580px){
    .HomeImage {
        max-width: 80%;
        justify-content: center;
        align-items: center;
        
    }

    .title {
    font-size: 24px;
    }

    .infoContent {
        flex-direction: column;
    }

    .box {
        width: 80%;
        margin-bottom: 14px;
        text-align: center;
    }
}
